<!-- Header Starts Here -->
<header>
  <div class="container">
    <div class="header">
      <!-- Logo Starts Here -->
      <a class="logo" href="index.html">
        <span>B</span>log
      </a>
      <!-- Logo Ends Here -->

      <!-- Mobile Menu Starts Here -->
      <div class="menu-btn">
        <div class="menu-btn-lines">

        </div>
      </div>
      <!-- Mobile Menu Ends Here -->

      <!-- Menu Starts Here -->
      <div class="main-menu d-none d-lg-flex">
        <ul class="main-menu-items list-unstyled">
          <li><a href="index.html" class="main-menu-item active-item">Home</a></li>
          <li><a href="#" class="main-menu-item">Travel</a></li>
          <li><a href="#" class="main-menu-item">Food</a></li>
          <li><a href="#" class="main-menu-item">Lifestyle</a></li>
          <li><a href="#" class="main-menu-item">Fashion</a></li>
        </ul>
        <form action="search.html">
          <div class="header-searchbar">
            <input type="text" placeholder="Search here...">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </div>
        </form>
      </div>
      <!-- Menu Items Ends Here -->
    </div>
  </div>
</header>
<!-- Header Ends Here -->

