<div class="container my-5">
  <h2 class="mb-4">Add New Post</h2>

  <form [formGroup]="post" >
    <div class="mb-3">
      <label for="postTitle" class="form-label">Post Title</label>
      <input formControlName="title" type="text" class="form-control" id="postTitle" placeholder="Enter post title" required>
    </div>

    <div class="mb-3">
      <label for="postCategory" class="form-label">Category</label>
      <select formControlName="category"  class="form-select" id="postCategory" required>
        <option selected disabled>Choose a category</option>
        <option>Technology</option>
        <option>Travel</option>
        <option>Food</option>
        <option>Business</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Content</label>
      <ckeditor formControlName="content" [editor]="Editor" [config]="config" data="<p>Hello, world!</p>"></ckeditor>
    </div>

    <div class="mb-3">
      <label for="postImage" class="form-label">Featured Image</label>
      <input formControlName="image" class="form-control" type="file" id="postImage">
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Publish Post</button>
  </form>
</div>
